body {
  background-color: #ffffff;

}


.control-container{
  color: rgb(0, 0, 0);
  text-align: center;
}
.piano {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}


.white-key {
  width: 30px;
  height: 80px;
  background-color: #FFF;
  border: 1px solid #646464; 
  margin-left: -4px;

}

.white-key.active {
  background-color: #a2a2a2;
}

.black-key {
  width: 18px;
  height: 50px;
  background-color: black;
  border: 0.1px solid rgb(77, 70, 70);
  margin-left: -6px;
  font-size: 8px;
  z-index: 2;
  position: absolute;
  text-align: center;
}

.white-text {
  color: white;
  text-align: center;

}

.black-text {
  color: black;
  font-size: 7.5px;
}

#b1{
  left: 8%
}  
#b2{
  left: 18%
}
#b3{
  left: 38%
}
#b4{
  left: 48%
}
#b5{
  left: 58%
}
#b6{
  left: 78.5%
}
#b7{
  left: 88.5%
}

.image-inside-button {
  width: 150%;
  height: 100%;
}

#play, #record, #stop {
  width: 20px;  
  height: 20px; 
}

.error-screen {
  display: none; 
}

@media screen and (max-width: 599px) {
  .piano-container {
    display: none;
  }

  .error-screen {
    display: block; 
  }
}
