body {
  background-color: #ffffff;
  padding-left: 150px;
  padding-right: 150px;
}

.control-container{
  color: rgb(0, 0, 0);
  text-align: center;
}
.piano {
  position: relative;
}

.white-key {
  width: 10%;
  height: 70px;
  background-color: #FFF;
  border: 1px solid #646464; 
  margin-left: -4px;

}

.white-key.active {
  background-color: #a2a2a2;
}

.black-key {
  width: 30px;
  height: 50px;
  background-color: #000000;
  border: 0.1px solid rgb(77, 70, 70);
  margin-left: -4px;
  font-size: 10px;
  z-index: 2;
  position: absolute;
}

.white-text {
  color: white;
}

#b1{
  left: 8%
}  
#b2{
  left: 18%
}
#b3{
  left: 38%
}
#b4{
  left: 48%
}
#b5{
  left: 58%
}
#b6{
  left: 78%
}
#b7{
  left: 88%
}

.image-inside-button {
  width: 150%;
  height: 100%;
}

#play, #record, #stop {
  width: 20px;  
  height: 20px; 
}

.error-screen {
  display: none; 
}

@media screen and (max-width: 599px) {
  .piano-container {
    display: none;
  }

  .error-screen {
    display: block; 
  }
}
